<!--

Purpose: This include file adds a new site definition

To enable this, rename this file so that it has a ".config" extension and 
change all the parameters to suit your own scenario

Notice how "patch:before" is used to insert the site definition BEFORE the 
existing <site name="website" ...> element 

You can use "patch:before" and "patch:after" as an attribute of an inserted 
element to specify an insertion point for the new element. Both accept an 
XPath relative to the parent node of the inserted element.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events timingLevel="custom">
      <event name="publish:end">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <patch:delete />
          </sites>
          <sites hint="list">
            <site>personal</site>
          </sites>
        </handler>
      </event>
      <event name="publish:end:remote">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <patch:delete />
          </sites>
          <sites hint="list">
            <site>personal</site>
          </sites>
        </handler>
      </event>
    </events>    
    <sites>
        <site patch:before="*[@name='website']" name="personal">
        <patch:attribute name="rootPath">/sitecore/content/VA/Web</patch:attribute>
        <patch:attribute name="startItem">General</patch:attribute>
        <patch:attribute name="dictionaryDomain">PersonalSiteStrings</patch:attribute>
        <patch:attribute name="virtualFolder">/</patch:attribute>
        <patch:attribute name="hostName">dev.va.local</patch:attribute>
        <patch:attribute name="database">web</patch:attribute>
        <patch:attribute name="contentLanguage">en</patch:attribute>
        <patch:attribute name="language">en</patch:attribute>
        <patch:attribute name="notFound">/404</patch:attribute>
        <patch:attribute name="cacheHtml">false</patch:attribute>
        <patch:attribute name="domain">personal</patch:attribute>
        <patch:attribute name="allowDebug">true</patch:attribute>
        <patch:attribute name="enablePreview">true</patch:attribute>
        <patch:attribute name="enableWebEdit">true</patch:attribute>
        <patch:attribute name="enableDebugger">true</patch:attribute>
        <patch:attribute name="disableClientData">false</patch:attribute>
      </site>
    </sites>
  </sitecore>
</configuration>